@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700');
$main-color: #002142;

/* default */
body {
  padding: 40px;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: $main-color;
}

.home {
  color: white;
  text-decoration: none;
}

.side-nav {
  position: fixed;
  left: 40px;
}

.page-nav {
  >ul {
    padding: 0;
    margin: 0;
  }
  button {
    position: relative;
    width: 24px;
    padding: calc(24px + 3px) 0; // padding + content height
    -webkit-appearance: none;
    border: none;
    font-size: 0;
    text-align: left;
    cursor: pointer;
    background-color: transparent;
    transition: width .3s;
    &:focus {
      outline: none;
    }
    &:after {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: white;
    }
  }
  .active button {
    width: 40px;
  }
}