@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700");
/* default */
body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #002142;
}

/* component */
.btn {
  display: inline-block;
  border-radius: 3px;
  padding: 12px 24px;
  text-decoration: none;
  line-height: 1;
}

.btn:hover, .btn:focus, .btn:visited {
  text-decoration: none;
  color: white;
}

.btn-primary {
  background-color: #FA3140;
  color: white;
}

/* content */
.scrollify-section {
  padding: 40px 88px;
}

.home {
  color: white;
  text-decoration: none;
}

.side-nav {
  position: fixed;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
}

.page-nav > ul {
  padding: 0;
  margin: 0;
}

.page-nav > ul > li {
  margin-bottom: 16px;
  line-height: 0;
}

.page-nav > ul > li:last-child {
  margin-bottom: 0;
}

.page-nav button {
  position: relative;
  width: 32px;
  padding: calc(8px + 3px) 0;
  -webkit-appearance: none;
  border: none;
  font-size: 0;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  transition: width .3s;
}

.page-nav button:focus {
  outline: none;
}

.page-nav button:after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
}

.page-nav .active button {
  width: 48px;
}

#top h1 {
  margin-bottom: 4rem;
  font-size: 120px;
  font-family: "Josefin Sans";
  color: white;
  font-weight: 400;
}

#top .border {
  position: relative;
  width: 168px;
  height: 24px;
  margin-bottom: 4rem;
}

#top .border:before, #top .border:after {
  position: absolute;
  content: "";
  width: 70%;
  height: 3px;
  background-color: #FA3140;
}

#top .border:before {
  top: 0;
  left: 0;
}

#top .border:after {
  bottom: 0;
  right: 0;
}

#top .btn {
  font-size: 18px;
}

#top .lead {
  margin-bottom: 1rem;
  color: white;
  font-size: 28px;
}

#about-me {
  display: flex;
  align-items: center;
}

.moon-background {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.moonlight {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -130px;
  width: 964px;
  height: 964px;
  margin: auto;
  background: url(../images/moonlight.svg) center no-repeat;
  background-size: contain;
}
